$TTL    604800
@       IN      SOA     ns1.infra.local. admin.infra.local. (
                          2025112101 ; Serial
                          3600       ; Refresh
                          1800       ; Retry
                          604800     ; Expire
                          86400 )    ; Minimum

        IN      NS      ns1.infra.local.

ns1     IN      A       10.6.0.2
srv1    IN      A       10.6.0.10
